﻿@using System.Globalization
@using Syncfusion.Blazor.DropDowns
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager


<SfDropDownList TValue="string" TItem="string" Placeholder=@CultureInfo.CurrentCulture.DisplayName DataSource="@supportedCultures"
                PopupHeight="220px" Width="100px">
    <DropDownListEvents TItem="string" TValue="string" OnValueSelect="@OnValueSelecthandler"></DropDownListEvents>
    <DropDownListFieldSettings Text=@nameof(CultureInfo.DisplayName)></DropDownListFieldSettings>
</SfDropDownList>


@code {
    public List<string> supportedCultures = SupportedLanguages.Cultures.Keys.ToList();
    private void OnValueSelecthandler(SelectEventArgs<string> args)
    {
        var selectedCulture = args.ItemData;
        var curCulture = CultureInfo.CurrentCulture.Name;
        if (selectedCulture != curCulture && supportedCultures.Contains(selectedCulture))
        {
            var js = (IJSInProcessRuntime)JSRuntime;
            js.InvokeVoid("cultureInfo.set", selectedCulture);
            js.InvokeVoid("rtlInfo.set", SupportedLanguages.Cultures[selectedCulture]);

            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }
    }
}