﻿@inherits LayoutComponentBase
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Lists
@using System.Globalization
@using PawCare.Client.Shared
@using Syncfusion.Blazor.Inputs


<div id="main">
    <div>
        @*Initialize the Toolbar component*@
        <SfToolbar Width="400px">
            <ToolbarEvents Clicked="@Toggle"></ToolbarEvents>
            <ToolbarItems>
                <ToolbarItem TooltipText="Menu">
                    <Template>
                        <SfIcon Name="IconName.Justify"></SfIcon>
                    </Template>
                </ToolbarItem>
                <ToolbarItem>
                    <Template>
                        <SfTextBox Placeholder='Search' @onkeypress='@(e => SearchKeyPressed(e))'></SfTextBox>
                    </Template>
                </ToolbarItem>
                <ToolbarItem Align="@ItemAlign.Right">
                    <Template>
                        <CultureSwitcher></CultureSwitcher>
                     </Template>
                </ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
    </div>
    
    <div class="maincontent">
        @Body
    </div>
</div>

@*Initialize the Sidebar component*@
<SfSidebar Width="120px" Target="@Target" Position="@Position" @bind-IsOpen="SidebarToggle">
    <SfMenu TValue="MenuItem" Orientation="Orientation.Vertical">
        <MenuItems>
            <MenuItem Text="Weather Data" Url="fetchdata"></MenuItem>
            <MenuItem Text="Overview" Url="/"></MenuItem>
            <MenuItem Text="Orders" Url="orders"></MenuItem>
            <MenuItem Text="Calendar"></MenuItem>
            <MenuItem Text="My Account"></MenuItem>
            <MenuItem Text="Settings"></MenuItem>
            <MenuItem Text="Terms of Use"></MenuItem>
            <MenuItem Text="Help&Support"></MenuItem>
        </MenuItems>
    </SfMenu>
</SfSidebar>


@code {
    public string Target = ".maincontent";
    public SidebarPosition Position { get; set; }
    public bool SidebarToggle = false;
    public void SideBarClose()
    {
        SidebarToggle = false;
    }
    public void Toggle(ClickEventArgs args)
    {
        if (args.Item.TooltipText == "Menu")
        {
            SidebarToggle = !SidebarToggle;
        }
    }

    public void SearchKeyPressed(KeyboardEventArgs args)
    {
        if (args.Key == "s")
        {
            Console.WriteLine("S was pressed");
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var cur_culture_name = CultureInfo.DefaultThreadCurrentCulture?.Name;
        if (SupportedLanguages.Cultures.Keys.Contains(cur_culture_name))
        {
            var is_rtl = SupportedLanguages.Cultures[cur_culture_name];
            Position = is_rtl ? SidebarPosition.Right : SidebarPosition.Left;

            if (is_rtl == true)
            {
                Position = SidebarPosition.Right;
            }
            else
            {
                Position = SidebarPosition.Left;
            }

        }

    }

}