﻿@page "/fetchdata"
@using PawCare.Shared
@using Syncfusion.Blazor.Grids
@inject HttpClient Http
@inject MetaDataLocalizer Localizer

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SfGrid TValue="WeatherForecast" DataSource="@forecasts" AllowPaging="true" Width="400px">
        <GridPageSettings PageSize="10"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(WeatherForecast.ID) HeaderText=@Localizer.GetText("ID") IsPrimaryKey="true"></GridColumn>
            <GridColumn Field=@nameof(WeatherForecast.Date) HeaderText=@Localizer.GetText("Date") Type="ColumnType.Date"></GridColumn>
            <GridColumn Field=@nameof(WeatherForecast.TemperatureC) HeaderText="@Localizer.GetText("TemperatureC")"></GridColumn>
            <GridColumn Field=@nameof(WeatherForecast.TemperatureF) HeaderText="@Localizer.GetText("TemperatureF")"></GridColumn>
            <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText=@Localizer.GetText("Summary")></GridColumn>
        </GridColumns>
    </SfGrid>
}

@code {
    public List<WeatherForecast> forecasts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast");
    }
}



