﻿@page "/"
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using PawCare.Client.Components.Overview
@inject HttpClient Http
@inject MetaDataLocalizer Localizer
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper;


<div>
    <FastActionsMenu></FastActionsMenu>
    <PetCheckInOutGrid></PetCheckInOutGrid>
    <KennelTasksGrid></KennelTasksGrid>
</div>
