﻿@page "/new_order"
@using PawCare.Shared.DTOs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using PawCare.Shared.DTOs
@using PawCare.Shared.StaticData


<h3>New Order</h3>

<EditForm EditContext="@EditContext" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="PetName">Pet Name</label>
        <InputText id="PetName" @bind-Value="OrderModel.PetName" class="form-control" />
        <ValidationMessage For="@(() => OrderModel.PetName)" />
    </div>
    <div>
        <SfDropDownList TValue="string" TItem="Pet" Placeholder="Select a pet" DataSource="@Pets">
            <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
            <DropDownListEvents TValue="string" TItem="Pet" ValueChange="OnValueChange"></DropDownListEvents>
            <DropDownListTemplates TItem="Pet">
                <FooterTemplate>
                    <SfButton OnClick="HandleNewPet">+ Pet</SfButton>
                </FooterTemplate>
            </DropDownListTemplates>
        </SfDropDownList>
    </div>
    <div class="col-12 mb-3">
        <SfButton type="submit">Submit</SfButton>
    </div>  
</EditForm>




@code {
    private Order OrderModel = new Order();
    private EditContext EditContext;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(OrderModel);
    }

    private void HandleSubmit()
    {
        Console.WriteLine("HandleSubmit Called...");

        if (EditContext.Validate())
        {
            Console.WriteLine("Form is Valid...");
        }
        else
        {
            Console.WriteLine("Form is Invalid...");
        }
    }

    public List<Pet> Pets { get; set; } = new stabs().PetsStaticData;
    public List<PetOwner> Owners { get; set; } = new stabs().PetOwnersStaticData;

    public void OnValueChange(ChangeEventArgs<string, Pet> args)
    {
        Console.WriteLine("The complete data of the selected value is: ", args.ItemData);
    }

    public void HandleNewPet()
    {
        Console.WriteLine("new pet handler");
    }
}
