﻿@page "/SearchProviders"
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@inject HttpClient Http
@inject MetaDataLocalizer Localizer
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper;


<PageTitle>Service Providers</PageTitle>

<div class="row" style="width: 400px;">
    <div class="col-lg-3 property-section">
        <div class="property-panel-section">
            <div class="property-panel-header">Search</div>
            <div class="property-panel-content">
                <table class="table">
                    <tr>
                        <td>
                            <SfTextBox Placeholder="Search book" ShowClearButton="true" Width="200px" ValueChange="OnSearch" @bind-Value="SearchValue"></SfTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <SfDropDownList TValue="string" TItem="string" DataSource="@SortingType" Placeholder="Sorting order" Width="200px" @bind-Value="SortingValue">
                                <DropDownListEvents TValue="string" TItem="string" ValueChange="OnSorting"></DropDownListEvents>
                            </SfDropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <SfMultiSelect Mode="VisualMode.Default" AllowFiltering="true" DataSource="@FilteringType" Placeholder="Book category" ShowClearButton="true" Width="200px" @bind-Value="FilteringValue">
                                <MultiSelectEvents TValue="string[]" TItem="string" ValueChange="OnFiltering"></MultiSelectEvents>
                            </SfMultiSelect>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <SfButton Content="Reset" OnClick="OnReset"></SfButton>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="control-section col-lg-9 card-control-section tile_layout">
        <div class="e-card-layout">
            @if (this.CardDatas.Count == 0)
            {
                    <div class="e-error">
                        <div class="e-error-content">No results found. Please try a different search.</div>
                    </div>
            }
            else
            {
                @foreach (CardDataModel card in CardDatas)
                {
                            <div class="col-lg-4 col-md-4 col-sm-6" style="padding: 15px;">
                                <div id="card_sample_1" class="card_sample">
                                    <SfCard>
                                        <CardImage Image="@card.ImageUrl" />
                                        <CardHeader Title="@card.Title" SubTitle="@card.SubTitle" />
                                        <CardContent Content="@card.Content" />
                                        <CardFooter>
                                            <CardFooterContent>
                                                <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e => NavigateToUrlAsync(@card.NavUrl))">Read More</SfButton>
                                                <div style="padding: 15px;">
                                                    <img src="images/sitter.png" style="height: 50px; width: auto;" title="sitter" />
                                                    <img src="images/walker.png" style="height: 50px; width: auto;" title="walker" />
                                                    <img src="images/trainer.png" style="height: 50px; width: auto;" title="trainer" />
                                                    <img src="images/bath.png" style="height: 50px; width: auto;" title="bath" />
                                                    <img src="images/haircut.png" style="height: 50px; width: auto;" title="haircut" />
                                                </div>
                                            </CardFooterContent>
                                        </CardFooter>
                                    </SfCard>
                                </div>
                            </div>
                }
            }
        </div>
    </div>
</div>

<style>
    .property-panel-section .property-panel-content td {
        padding: 0 0 15px 0;
    }

    .tile_layout.card-control-section .e-error {
        height: 100px;
        width: 100%;
    }

        .tile_layout.card-control-section .e-error .e-error-content {
            color: red;
            line-height: 100px;
            text-align: center;
        }

    .tile_layout.card-control-section .e-card .e-card-image {
        height: 100%;
        object-fit: contain;
    }

    .tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 20px;
        font-family: Helvetica, 'Segoe UI';
        font-weight: bold;
    }

    .tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 5px;
    }

    .tile_layout.card-control-section .e-card .e-card-content {
        padding-top: 0px;
        height: 110px;
    }

    #source_link {
        float: right;
        margin-right: 10px;
    }
</style>
@code {
    [Inject] public NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JsRuntime { get; set; }
    public string SearchValue { get; set; }
    public string SortingValue { get; set; }
    public string[] FilteringValue { get; set; }
    protected override void OnInitialized()
    {
        _cardDatas = this.GetCardDatas();
        base.OnInitialized();
    }

    public class CardDataModel
    {
        public string ImageUrl { get; set; }
        public string Title { get; set; }
        public string SubTitle { get; set; }
        public string Content { get; set; }
        public string NavUrl { get; set; }
        public string Tag { get; set; }
    }

    public List<CardDataModel> GetCardDatas()
    {
        var assetpath = "images/";
        return new List<CardDataModel>()
        {
        new CardDataModel { ImageUrl = assetpath + "providerA.png", Title = "providerA", SubTitle = "Nick Harrison", Content = "ASP.NET Model View Controller design pattern to keep the data, views, and logic clearly separated in apps.", NavUrl = "https://www.syncfusion.com/ebooks/ASPNET_MVC_Succinctly", Tag = "Server-side" },
        new CardDataModel { ImageUrl = assetpath + "providerB.png", Title = "providerB", SubTitle = "Emanuele DelBono", Content = "Node.js is a wildly popular platform for writing web applications that has revolutionized web development in many ways.", NavUrl = "https://www.syncfusion.com/ebooks/nodejs", Tag = "Client-side" },
        new CardDataModel { ImageUrl = assetpath + "providerC.png", Title = "providerC", SubTitle = "Dmitri Nesteruk", Content = "React is a JavaScript library that has revolutionized how developers design and think about views in web applications.", NavUrl = "https://www.syncfusion.com/ebooks/reactjs_succinctly", Tag = "Client-side" }
        };
    }

    private List<CardDataModel> _cardDatas = new List<CardDataModel>();
    public List<CardDataModel> CardDatas
    {
        get { return _cardDatas; }
        set { _cardDatas = value; }
    }
    public List<string> SortingType = new List<string>() { "Ascending", "Descending" };
    public List<string> FilteringType = new List<string>() { "Client-side", "Server-side", "Front-end" };
    public async Task NavigateToUrlAsync(string url)
    {
        await JsRuntime.InvokeAsync<object>("open", url, "_blank");
    }
    public List<CardDataModel> GetCardDatas(string[] values)
    {
        var cardDatas = GetCardDatas();
        if (values == null)
        {
            return this.GetSortedCardDatas(cardDatas);
        }
        var filterCards = new List<CardDataModel>();
        foreach (string value in values)
        {
            var cards = cardDatas.Where(e => e.Tag == value);
            foreach (var card in cards)
            {
                filterCards.Add(card);
            }
        }
        return this.GetSortedCardDatas(filterCards);
    }
    public List<CardDataModel> GetSortedCardDatas(List<CardDataModel> sortingCards)
    {
        if (this.SortingValue != null)
        {
            sortingCards.Sort((x, y) => x.Title.CompareTo(y.Title));
            if (this.SortingValue == "Descending")
            {
                sortingCards.Reverse();
            }
        }
        return sortingCards;
    }
    public void OnSearch(ChangedEventArgs args)
    {
        if (args.Value != null)
        {
            this.CardDatas = this.CardDatas.FindAll(e => (e.Title.Contains(args.Value) || e.SubTitle.Contains(args.Value) || e.Content.Contains(args.Value) || e.Title.ToLower().Contains(args.Value) || e.SubTitle.ToLower().Contains(args.Value) || e.Content.ToLower().Contains(args.Value)));
        }
        else
        {
            this.CardDatas = this.GetCardDatas(this.FilteringValue);
        }
    }
    public void OnSorting(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, string> args)
    {
        this.CardDatas = this.GetSortedCardDatas(this.CardDatas);
    }
    public void OnFiltering(MultiSelectChangeEventArgs<string[]> args)
    {
        this.CardDatas = this.GetCardDatas(args.Value);
    }
    public void OnReset()
    {
        this.SearchValue = null;
        this.SortingValue = null;
        this.FilteringValue = null;
        this.CardDatas = this.GetCardDatas();
    }
}