﻿@using Syncfusion.Blazor.Navigations


<h3>FastActionsMenu</h3>


<SfMenu TValue="MenuItem">
    <MenuItems>
        <MenuItem Text="+ Order" Url="new_order"></MenuItem>
        <MenuItem Text="+ Pet Action"></MenuItem>
        <MenuItem Text="+ Kennel Task"></MenuItem>
    </MenuItems>
</SfMenu>


@code {

}
