﻿@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons

<h3>KennelTasks</h3>

<SfGrid DataSource="@KennelTasks"></SfGrid>

@code {
    public List<KennelTask> KennelTasks { get; set; } = Enumerable.Range(0, 2).Select(x => new KennelTask()
        {
            Name = (new string[] { "Install new beds", "Replace water filter", "Weekly rooms check" })[x],
            IsDone = new Random().Next() > (Int32.MaxValue / 2),
            Eta = DateTime.Now.AddDays(new Random().Next(10)).ToString("d")
        }).ToList();

    public class KennelTask
    {
        public string Name { get; set; }
        public string Eta { get; set; }
        public bool IsDone { get; set; }
    }
}