﻿@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using PawCare.Shared.DTOs
@using PawCare.Shared.StaticData
@using System.Linq


<h3>PetCheckInOut</h3>

<SfGrid DataSource="@Orders">
     <GridColumns>
        <GridColumn Field=@nameof(Order.PetName) HeaderText="Pet Name"></GridColumn>
        <GridColumn Field=@nameof(Order.OwnerPhoneNumber) HeaderText="Owner Phone"></GridColumn>
        <GridColumn Field=@nameof(Order.CheckIn) HeaderText="CheckIn" Format="d" Type="ColumnType.Date"></GridColumn>
        <GridColumn Field=@nameof(Order.CheckOut) HeaderText="CheckOut" Format="d" Type="ColumnType.Date"></GridColumn>
     </GridColumns>
</SfGrid>

@code{
    public List<Order> Orders { get; set; } = new stabs().OrdersStaticData.Where(x => x.CheckIn > DateTime.Now || x.CheckOut > DateTime.Now).ToList();
}