﻿@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using PawCare.Shared.DTOs
@using PawCare.Shared.StaticData

<h3>If mobile vertical please rotate</h3>

<SfGrid DataSource="@Orders" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(Order.Id) HeaderText="Order ID"></GridColumn>
        <GridColumn Field=@nameof(Order.OwnerFirstName) HeaderText="Customer Name"></GridColumn>
        <GridColumn Field=@nameof(Order.OwnerLastName) HeaderText="Customer Name"></GridColumn>
        <GridColumn Field=@nameof(Order.OwnerPhoneNumber) HeaderText="Customer Name"></GridColumn>
        <GridColumn Field=@nameof(Order.PetName) HeaderText="Pet Name"></GridColumn>
        <GridColumn Field=@nameof(Order.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date"></GridColumn>
        <GridColumn Field=@nameof(Order.CheckIn) HeaderText=" Order Date" Format="d" Type="ColumnType.Date"></GridColumn>
        <GridColumn Field=@nameof(Order.CheckIn) HeaderText=" Order Date" Format="d" Type="ColumnType.Date"></GridColumn>
        <GridColumn Field=@nameof(Order.Services) HeaderText="Services"></GridColumn>
        <GridColumn Field=@nameof(Order.Price) Format=C2 HeaderText="Cost"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
    public List<Order> Orders { get; set; } = new stabs().OrdersStaticData;
}